@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  color: #252525;
}

.grey {
  color: #6e6e6e;
}

.white {
  color: #fff;
}

.landing-page-container {
  display: flex;
  align-content: center;
  flex-direction: column;
  max-width: 900px;
  margin: auto;
  padding: 2em;
}
.landing-page-container > .bottom-space {
  padding-top: 2em;
  grid-column: 1/span 2;
}
.landing-page-container > .bottom-space > h1 {
  width: 100%;
  text-align: center;
}

input, select {
  height: 36px;
  width: 100%;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-radius: 0.2em;
  border: 1px solid #0c4876;
}

input[type=number] {
  font-size: 18px;
}

input[type=checkbox] {
  height: 16px;
  width: 16px;
}

input[type=radio] {
  height: 16px;
  width: 16px;
}

.no-border {
  border: none;
  margin: 0;
  padding: 0;
}

fieldset {
  margin-bottom: 1em;
}

.checkbox {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
}
.checkbox > label {
  padding-left: 0.2em;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  width: 100%;
  height: 1px;
  background: #0c4876;
  border: none;
}

.primary-button {
  display: block;
  background: #0c4876;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  padding: 0.3em 0.6em;
  border: 2px solid #1580d3;
  border-radius: 0.2em;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.primary-button:hover:not(:disabled) {
  background: #1a8ee8;
}
.primary-button:disabled {
  background: #6e6e6e;
  border-color: #989898;
  cursor: not-allowed;
}

.rejected-orders-table {
  width: 100%;
  margin-bottom: 2em;
  border-collapse: collapse;
  border: 2px solid #8ec7f3;
}
.rejected-orders-table th, .rejected-orders-table td {
  padding: 0 1em;
}
.rejected-orders-table tr {
  height: 48px;
}
.rejected-orders-table tr:nth-child(even) {
  background: #eaf5fd;
}
.rejected-orders-table thead > tr {
  background: #8ec7f3;
}
.rejected-orders-table .primary-button {
  font-size: 14px;
}
.rejected-orders-table .al-right {
  text-align: right;
}
.rejected-orders-table .al-center {
  text-align: center;
}

.message-box {
  display: flex;
  width: 100%;
  height: 4em;
  justify-content: center;
  align-items: center;
  border-radius: 0.2em;
  margin-bottom: 1em;
  font-size: 18px;
  font-weight: bold;
  border: 3px solid #007e00;
  background: #8eee8e;
}
.message-box--error {
  background: #ff9b9b;
  border-color: #dc0000;
}

.form {
  border-radius: 0.2em;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  background: rgba(12, 72, 118, 0.1);
}
.form__title {
  margin-top: 0;
  margin-bottom: 0.2em;
}
.form__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
  width: 100%;
}
.form__input--radio {
  flex-direction: row;
  gap: 0.5em;
}

.container {
  padding-top: 56px;
  max-width: 900px;
  margin: auto;
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background: #0c4876;
  color: #fff;
  padding: 0 1em;
}
.navbar__logo {
  padding: 0.5em 0;
  margin-right: 1em;
  height: 100%;
  width: 100%;
}
.navbar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 0.5em;
  margin: 0;
}
.navbar__spacer {
  margin-right: auto;
}
.navbar > a {
  background: #0c4876;
  transition: background-color 0.1s ease;
}
.navbar > a:hover {
  background: #1580d3;
}

.sp-grid {
  display: grid;
  width: 100%;
  margin-top: 2em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
}

.sp-card {
  background-color: aliceblue;
  border-radius: 0.2em;
  padding: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.sp-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.sp-card__name {
  margin-top: 0;
}
.sp-card__services {
  list-style-type: none;
  padding: 0;
}
.sp-card__services > li {
  border: 2px solid #0c4876;
  border-radius: 0.2em;
  padding: 0.5em;
  margin-bottom: 0.5em;
}
.sp-card__services h3 {
  margin-top: 0;
  margin-bottom: 0.4em;
}
.sp-card__services th, .sp-card__services td {
  text-align: left;
}
.sp-card__services p {
  margin: 0.3em 0;
}
.sp-card__op {
  padding-left: 1em;
}

.summary {
  margin-bottom: 2em;
}
.summary__row {
  display: grid;
  grid-template-columns: 80% 20%;
}
.summary__right {
  text-align: right;
}
.summary ul {
  list-style-type: none;
}
.summary h4 {
  margin: 0.3em;
}
.summary table {
  text-align: left;
  width: 100%;
}
.summary table tr {
  height: 36px;
}

/*# sourceMappingURL=main.css.map */
